*{
    margin: 0px;
    font-family:Arial;
    /*border calculated inside content area*/

}
html {
  scroll-behavior: smooth;
}
body{
    height: 300vh;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-size: contain;
    
    color: white;
    background-image: url("./images/bg.jpg");
    
}
img{
    height: 300%;
    
    position: fixed;
    z-index: -1;
}

.contentl{
    background-color: whitesmoke;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 20%;
    z-index: 0;
    background-color: rgb(49, 8, 33);
    
}
header{
    z-index: 2;
    width: 100%;
    height: 3%;
    background-color: black;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    
}

.mode{
    
    width: 4rem;
    height: 2rem;
    padding-left: 0.2rem;
   
    display:flex;
    align-items: center;
    background: wheat;
    border-radius: 200px;
    box-shadow: 0px 5px 15px black ;
    cursor: pointer;
    
}

.ball{
    border-radius: 50%;
    position: relative;
    
   
    height: 1.8rem;
    width: 1.8rem;
    background-color: blue;
    transition: transform 0.25s linear;
   
}
.ball.on {
  transform: translateX(1.8rem);
}

/* ball.on means:An element that has BOTH classes ball AND on */

/* OFF state (default) */
.ball.off {
  transform: translateX(0);
}
/* transform: translate() moves an element visually without changing layout */

.hero {
    margin-top: 1px;
    margin-bottom: 5px;
    
  position: relative;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.slides img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  object-fit: contain;
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
#contain{
    object-fit: contain;
}

.slides img.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 32px;
  padding: 10px 14px;
  cursor: pointer;
  z-index: 2;
}

.arrow.left { left: 15px; }
.arrow.right { right: 15px; }

.arrow:hover {
  background: rgba(0,0,0,0.7);
}
.contentd{
    margin-top: 3%;
    margin-bottom: 10%;
    height: 85%;
    width: 85%;
    background-color: rgba(36, 2, 2, 1);
    border: 10px rgb(128, 68, 0) ridge;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
  

}
.box{
  border: 2px solid white;
  width:30%;
  min-width: 500px;
  max-width: 600px;
  height: 40%;
  min-height: 500px;
  margin: 2%;
  
}










@media(max-width:450px){
    .contentd{
       
        width: 95%;
        border: none; 
        border: 2px solid black;
       
    }
    header{
        height: 35px;
    }
    .heroSxn{
        height: 10%;
        margin-top: 2%;
    }
    .box{
      width: 80%;
    }

}